
section h2
{
 font-family: "Tektur", sans-serif;
 text-align: center;
 font-size: 30px;
}

.container
{
 border: 5px solid #082304;
 margin: 10% 30px;
 width: 195vh;
 height: 75vh;
 box-shadow: 0 0 55px 20px   #517b2591;
 background-color: #08230489;
 align-items: center;
}

nav
{
 position:fixed;
 top: 0px;
}

main section article
{
 margin-left: 7%;
 margin-right: 50%;
 margin-top: 3%;
 text-align: justify;
 color: rgb(255, 255, 255);
 font-size: 25px;
}
main section figure
{
 float: right;
 margin-top: -31%;
 margin-right: 2%;
}

