main
{
 margin-bottom: 100px;
}
main article h2
{
  font-family: "Tektur", sans-serif;
  text-align: center;
  font-size: 35px;
  color: #f8f8f8;
  margin-top: 20px;
  -webkit-text-stroke: 1.5px #000000;
}

main article li
{
 text-align: justify;
 font-size: 30px;
 color: #f8f8f8;
 margin-top: 20px;
 margin-bottom: 10px;
 margin-left: 5%;
 margin-right: 7%;
}

h1
{
 font-size: 40px;
 color: #f8f8f8;
 padding: 10px 10px;
 border-radius: 10px;
 text-align: center;
 background: #082304;
 padding: 2px 2px;
 margin-left: 44%;
 margin-right: 44%;
 border: 5px solid #082304;
}

h3
{
 font-family: "Tektur", sans-serif;
 font-size: 35px;
 color: #f8f8f8;
 margin-left: 2%;
}

.text-box 
{
    color: #f8f8f8;
    text-align: justify;
    font-size: 30px;
    margin-left: 3%;
    margin-right: 52%;
    background: #082304ce;
    padding: 30px 50px;
    border: 5px solid #082304;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-box:hover
{
  transform: translateY(-5px);
  box-shadow: 0 0 50px   #517b25;
  background-color: #082304c7
}

.text-box2
{
    color: #f8f8f8;
    text-align: justify;
    font-size: 30px;
    margin-left: 52%;
    margin-right: 3%;
    background: #082304ce;
    padding: 30px 50px;
    border: 5px solid #082304;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-box2:hover
{
  transform: translateY(-5px);
  box-shadow: 0 0 50px   #517b25;
  background-color: #082304c7
}

hr
{
 color: #f8f8f8;
 width: 80%;
 margin-left: 10%;
 margin-right: 10%;
 margin-top: 5%;
}

@media screen and (max-width: 1000px)
{
main article h2 
{
  font-size: 24px;
  -webkit-text-stroke: 1px #000000;
}

main article li 
{
 font-size: 20px;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 15px;
 margin-bottom: 10px;
}
  
h1 
{
 font-size: 28px;
 margin-left: 25%;
 margin-right: 25%;
 padding: 6px 10px;
}
  
h3 
{
 font-size: 24px;
 margin-left: 5%;
}
  
.text-box, .text-box2
{
 font-size: 20px;
 margin: 20px 5%;
 padding: 20px;
 width: auto;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
hr
{
 width: 90%;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 10%;
}
   
.responsive-img 
{
 max-width: 100%;
 height: auto;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
}

