figure img
{
 height: 200px;
 width: 300px;
 box-shadow: 20px 20px #628760;
 margin: 25px 25px 25px 25px;
 opacity: 80%;
}

figure img:hover
{
  transform: scale(1.05);
 box-shadow: 20px 20px #628760;
 margin: 25px 25px 25px 25px;
 opacity: 100%;
 transition: all 0.2s ease-in-out;
}

.img-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.enlarged-img
{
  max-width: 90%;
  max-height: 90%;
}

.nav-arrow 
{
  color: white;
  font-size: 3rem;
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
  z-index: 1001;
}

.left-arrow 
{
  left: 20px;
}

.right-arrow 
{
  right: 20px;
}
.img-prev, .img-next 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  user-select: none;
  z-index: 1001;
}

.img-prev::before 
{
  content: '<'; 
}

.img-next::before 
{
  content: '>'; 
}

.img-prev 
{
  left: 20px;
}

.img-next 
{
  right: 20px;
}
