body
{
   /*background: #334e2e;*/
   background-image: url('../Images/Background/gaming-vector-background-landscape-video-600nw-2308922901.jpg');
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat;
   height: 100vh;
   background-position-y: -26%;
   background-attachment: fixed;
}

nav
{
 font-family: "Tektur", sans-serif;
 background: #334e2e;
 height: 80px;
 width: 100%;
 box-shadow: 0 0 55px 20px  #517b2594;
 border-radius: 2px;
 text-shadow: 0 0 5px #000000;
 position:fixed;
 top: 0px;
}

nav ul li a:hover
{
 transform: translateY(-5px);
 box-shadow: 0 0 50px   #517b25;
 background: #517b25;
}

label
{
 color: #f8f8f8;
 font-size: 30px;
 font-weight: bold;
 line-height: 80px;
 margin: 0 80px;
 text-shadow: 0 0 5px #000000;
}

#logo
{
 width: 50px;
 margin: 0 0 -15px -330px;
}

nav ul
{
 float: right;
 margin-right: 10px;
}

nav ul li
{
 display: inline-block;
 margin-right: 20px;
 margin-top: 25px;
}

nav ul li a
{
 font-size: 15px;
 color:  #ffffff;
 text-decoration: none;
}

a.active
{
 background:#0b3105;
 padding: 5px 15px;
 border-radius: 10px 90px;
 box-shadow: 0 0 20px   #517b25bb; /* N/B This is glow effect */
}

header
{
  font-family: "Tektur", sans-serif;
  text-align: center;
  color: #ffffff;
  font-size: 70px;
  -webkit-text-stroke: 1.5px #000000; 
  margin-top: 15%;
 
}



.bar-button
{
 font-size: 30px;
 color: #ffffff;
 float: right;
 margin-right: 40px;
 line-height: 80px;
 cursor: pointer;
 display: none;
}

#check
{
 display: none;
}

footer
{
 font-family: "Tektur", sans-serif;
 background: #334e2e;
 height: 90px;
 width: 100%;
 box-shadow: 0 0 55px 20px  #517b25;
 border-radius: 2px;
 text-align: center;
 padding: 20px;
}

footer a 
{
 color: white;
 text-decoration: none;
 margin: 0 15px;
 font-size: 25px;
 }

 footer a:hover 
 {
  color: #d3f20a;
  text-shadow: 0 0 5px #000000;
 }
 
 footer a i 
 {
  margin-right: 8px;
  text-shadow: 0 0 5px #000000;
 }

/* This is the media query for the mobile version of the menu */
/* I will use the media query to hide the menu and show the bar button when the screen is less than 1050px */
@media (max-width:1000px)
{
 .bar-button
 {
  display: block;
 }
 header
 {
  margin-top: 20%;
 }
 nav ul
 {
  position: fixed;
  width: 50%;
  background-color:#334e2e;
  height: 100vh;
  text-align: left;
  margin-right: 0px;
  top: 64px;
  right: -120%;      /*this will help me hide the menu*/
  transition: all 1s; /*this will help me control time between transitions specifically the menu*/
 }
 nav ul li
 {
    display: block;
    padding: 5px 0;
 }
 nav ul li a
 {
    font-size: 15px;
    color: #ffffff ;
    text-transform: uppercase;
 }
 #check:checked ~ ul
 {
  right: 0; /*this will help me show the menu*/
 }
 footer
 {
  width: 90%;
  height: 20vh;
 }
 #logo
 {
  width: 30px;
  margin: 0 0 -10px -160px;
  margin-top: -55px;
 }
 label
 {
  margin: 0 0 0px 45px;
  font-size: 20px;
 }
}