body
{
   background: #334e2e;
   /*background-image: url('../images/profoundBoi.jpg') ; */
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat;
   height: 100vh;
   background-position-y: -30%;
}

nav
{
 font-family: "Tektur", sans-serif;
 background: #334e2e;
 height: 80px;
 width: 100%;
 box-shadow: 0 0 55px 20px  #517b25;
 border-radius: 2px  ;

}



label
{
 color: #f8f8f8;
 font-size: 30px;
 font-weight: bold;
 line-height: 80px;
 margin: 0 80px;
 
 
}

#logo
{
 width: 50px;
 margin: 0 0 -15px -330px;
 ;
}

nav ul
{
 float: right;
 margin-right: 10px;
}

nav ul li
{
 display: inline-block;
 margin-right: 20px;
 margin-top: 25px;
}

nav ul li a
{
 font-size: 15px;
 color:  #ffffff;
 text-decoration: none;
 
}

a.active
{
 background:#0b3105;
 padding: 5px 15px;
 border-radius: 10px 90px;
 box-shadow: 0 0 20px  #33680b; /* Added glow effect */
 
}

section h1
{
 font-family: "Tektur", sans-serif;
 text-align: center;
 color: #ffffff;
 font-size: 60px;
 margin-top: 11%;

}

.bar-button
{
 font-size: 30px;
 color: #ffffff;
 float: right;
 margin-right: 40px;
 line-height: 80px;
 cursor: pointer;
 display: none;
}

#check
{
 display: none;
}

/* This is the media query for the mobile version of the menu */
/* I will use the media query to hide the menu and show the bar button when the screen is less than 1050px */
@media (max-width:1000px)
{
 .bar-button
 {
  display: block;
 }
 nav ul
 {
  position: fixed;
  width: 50%;
  background-color: #a1c49f;
  height: 100vh;
  text-align: left;
  margin-right: 0px;
  top: 64px;
  right: -120%;      /*this will help me hide the menu*/
  transition: all 1s; /*this will help me control time between transitions specifically the menu*/
 }
 nav ul li
 {
    display: block;
    padding: 15px 0;
 }
 nav ul li a
 {
    font-size: 25px;
    color: #ffffff ;
    text-transform: uppercase;
 }
 #check:checked ~ ul
 {
  right: 0; /*this will help me show the menu*/
 }
}